<% if notice %>
    <div class="notice notice-info notice-dismissible fade show m-1" role="notice">
        <%= notice %>
    </div>
<% end %>

<% if alert %>
    <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
        <%= alert %>
    </div>
<% end %>