<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/marcus-maione/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <%= link_to "About Vagazap", about_path %>
    <a href="https://github.com/marcusmaione" target="_blank"><i class="fab fa-github"></i></a>
  </div>
</div>