<h1>Vagazap:</h1>
<div class="about">
    <p>Ruby on Rails web app that works like a marketplace for jobs, where companies 
    can create jobs and users can like them.</p>
    <p>It includes a method for company profiles that automatically filters the best 
    candidates for each of their jobs and another one for user profiles that filters 
    the best jobs for the user that is signed in.</p>
</div>
<br>
<%= link_to "Back to Home Page", root_path, class: "text-link" %>